@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  padding:.5rem;
}

#logo{
  font-family: 'Freehand', cursive;
}

#photo-frame{
background-color: rgb(49 46 129);
border-radius:78% 22% 51% 49% / 51% 44% 56% 49% ;
}

#logo,a:hover {
transform: scale(1.1);
}

.accordion {
    box-sizing: border-box;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    width: 100%;
}

.accordion-select {
    cursor: pointer;
    margin: 0;
    opacity: 0;
    z-index: 1;
}

.accordion-title {
    position: relative;
}

.accordion-title:not(:nth-last-child(2))::after {
    border: 1px solid transparent;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.accordion-title span {
    bottom: 0px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    white-space: nowrap;
    width: 100%;
}

.accordion-content {
    box-sizing: border-box;
    overflow: auto;
    position: relative;
    transition: margin 0.3s ease 0.1s;
}

.accordion-select:checked + .accordion-title + .accordion-content {
    margin-bottom: 0;
    margin-right: 0;
}

/* Generated styles starts here */

.accordion {
    border-color: rgb(49 46 129);
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    flex-direction: row;
    height: 282px;
} 

.accordion-title,
.accordion-select  {
    background-color: #ffffff;
    color: rgb(49 46 129);
    width: 65px;
    height: 100%;
    font-size: 16px;
}

.accordion-select {
    margin-bottom: -65px;
    margin-right: -65px;
}

.accordion-title:not(:nth-last-child(2))::after {
    border-bottom-color: transparent;
    border-right-color: rgb(49 46 129);
} 

.accordion-select:hover + .accordion-title,
.accordion-select:checked + .accordion-title {
  background-color: rgb(49 46 129);
  color: rgb(219 234 254);
} 

 .accordion-title span  {	
    transform: rotate(-90deg);
    -ms-writing-mode: lr-bt;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    padding-bottom: 33px;
    padding-top: 33px;
    line-height: 65px;
} 

.accordion-content {
    background-color: rgb(219 234 254);
    color: rgb(31 41 55);
    height: 100%;
    margin-bottom: 0;
    margin-right: calc(-1 * calc(100% - 260px));
    padding: 30px;
    width: calc(100% - 260px);
} 

#project-card > a{
  visibility: hidden;
}

#project-card:hover a{
  visibility: visible;

}



/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(49 46 129);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(49 46 129);
}


.floating{
	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(8%);	
	}	
	100% {
		transform: translateY(0%);
	}			
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
		-webkit-transform: translateY(8%);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}			
}

.slideRight{
	animation-name: slideRight;
	-webkit-animation-name: slideRight;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}

@keyframes slideRight {
	0% {
		transform: translateX(-150%);
	}
	50%{
		transform: translateX(8%);
	}
	65%{
		transform: translateX(-4%);
	}
	80%{
		transform: translateX(4%);
	}
	95%{
		transform: translateX(-2%);
	}			
	100% {
		transform: translateX(0%);
	}	
}

@-webkit-keyframes slideRight {
	0% {
		-webkit-transform: translateX(-150%);
	}
	50%{
		-webkit-transform: translateX(8%);
	}
	65%{
		-webkit-transform: translateX(-4%);
	}
	80%{
		-webkit-transform: translateX(4%);
	}
	95%{
		-webkit-transform: translateX(-2%);
	}			
	100% {
		-webkit-transform: translateX(0%);
	}
}
